.root{
    -fx-background-color:#355C7D;
}
.button{
    -fx-background-color:#6C5B7B;
    -fx-text-fill:#F67280;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-color: #C06C94;
}
.menu-button{
    -fx-background-color:#6C5B7B;
    -fx-text-fill:#F8B195;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-border-color: #C06C94;
}
.menu-item{
    -fx-background-color:#6C5B7B;
    -fx-text-fill:#F8B195;
    -fx-border-color: #C06C94;

}
.text-field{
    -fx-background-color:#C06C84;
    -fx-text-fill:#F8B195;
    -fx-prompt-text-fill: #F8B195;
}
.label{
    -fx-text-fill: #F67280;
}
#CaroGame{
    -fx-text-fill: #F8B195;
}